---
# tasks file for composer

- name: Install PHP packages for Composer
  ansible.builtin.apt:
    name: "{{ composer_php_packages }}"
    state: present
    update_cache: true

- name: Ensure directory for Composer exists
  ansible.builtin.file:
    path: "{{ composer_install_path | dirname }}"
    state: directory
    mode: "0755"

- name: Download Composer
  ansible.builtin.get_url:
    url: https://getcomposer.org/installer
    dest: "{{ composer_install_path }}"
    mode: "0755"

- name: Ensure Composer binary is executable
  ansible.builtin.file:
    path: "{{ composer_install_path }}"
    state: file
    mode: "0755"


